In [1]:
dict={'machine learning':{'course_provider':['Coding Ninjas','Coding Blocks','Coding Elements'],'course_name':['Ml with python','Ml with python','Ml with python'],'price':[25000,25000,25000]},
     'WEB':{'course_provider':['Coding Ninjas','Coding Blocks','Coding Elements'],'course_name':['Ml with python','Ml with python','Ml with python'],'price':[25000,25000,25000]}}

In [2]:
import pandas as pd
df=pd.DataFrame(dict)

In [3]:
df

,machine learning,WEB
course_name,"[Ml with python, Ml with python, Ml with python]","[Ml with python, Ml with python, Ml with python]"
course_provider,"[Coding Ninjas, Coding Blocks, Coding Elements]","[Coding Ninjas, Coding Blocks, Coding Elements]"
price,"[25000, 25000, 25000]","[25000, 25000, 25000]"

In [5]:
#pip install fuzzywuzzy
from fuzzywuzzy import process
list=['machine learning','WEB'] #list of keys in the dict.
search_string=input()

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

mochine learnong

In [8]:
k=process.extract(search_string, list, limit=1)
k[]

[('machine learning', 88)]

In [10]:
pd.DataFrame(dict[k[0][0]])

   course_provider     course_name  price
0    Coding Ninjas  Ml with python  25000
1    Coding Blocks  Ml with python  25000
2  Coding Elements  Ml with python  25000